@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Muller";
  src: url("../../public/fonts/Muller/MullerLight.ttf");
  font-style: light;
  font-weight: 500;
  font-display: swap;
}

* {
    font-family: "Muller";
}

p {
    font-weight: 600
}

.main-view {
    @apply flex items-center flex-col overflow-hidden h-screen;
    overflow: hidden;
    padding-top: 64px;
}


.scroll {
    @apply scroll-smooth;
    overflow-y: overlay;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: transparent;
	background-color: transparent;
    width: 2px;
}
.scroll::-webkit-scrollbar {
	width: 2px;
	background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 40px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-corner {
    background-color: aqua;
}

.showScroll::-webkit-scrollbar-track {
	background-color: transparent;
    width: 2px;
    border-radius: 40px;
}
.showScroll::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}
.showScroll::-webkit-scrollbar-thumb {
    border-radius: 40px;
	background-color: rgba(0,0,0,0.4);
}
